@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
